---
import PrimaryButton from "./PrimaryButton.astro";
const fields = [
  { id: "name", label: "Name", type: "text" },
  { id: "phone", label: "Phone", type: "tel" },
  { id: "email", label: "Email", type: "email" },
  { id: "message", label: "Message", type: "textarea" },
];
---

<section
  class="relative min-h-3/5 flex items-center justify-center bg-[url('/imagenes/contacto-fondo.jpeg')] bg-no-repeat bg-bottom bg-cover py-52 px-6"
>
  <div class="absolute inset-0 bg-[#00000044]" id="contact"></div>
  <form
    class="z-20 bg-[#ffffff] shadow-2xl p-10 w-full max-w-2xl flex flex-col gap-6 border border-primary-tranparent"
    method="post"
  >
    <h2 class="text-3xl font-bold text-center text-primary">Contact Us</h2>
    <span class="mx-auto">We look forward to hearing from you.</span>

    {
      fields.map((field, index) => (
        <div class="flex flex-col gap-2 " style={`transition-delay: ${index * 100 + 100}ms`}>
          <label for={field.id} class="text-dark font-semibold">
            {field.label}
          </label>
          {field.type === "textarea" ? (
            <textarea
              id={field.id}
              name={field.id}
              rows="5"
              required
              class="bg-light border border-primary-tranparent  px-4 py-2 text-dark focus:outline-none focus:ring-2 focus:ring-primary"
            />
          ) : (
            <input
              type={field.type}
              id={field.id}
              name={field.id}
              required
              class="bg-light border border-primary-tranparent  px-4 py-4 text-dark focus:outline-none focus:ring-2 focus:ring-primary"
            />
          )}
        </div>
      ))
    }
    <div class="mt-10 text-center">
      <PrimaryButton type="submit">Submit</PrimaryButton>
    </div>
  </form>
</section>
